<form action="/favourites" method="POST">
  <button class="bg-yellow-300 p-2 hover: bg-yellow-500 " type="submit">Add to favourite</button>
  <input type="hidden" name="id" value="<%= home.homeID %>">
</form>